---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import BasicsLayout from "../layouts/BasicsLayout.astro"
import ScrollProgress from "../components/ScrollProgress"
import CardLayout from "../layouts/CardLayout.astro"
import CursorTag from "../components/CursorTag"
import DATA from '../../data.json'
import type { Color } from "../utils/colorUtils"

interface TagProps {
	name:string,
	href:string	
}

interface CardProps {
	title:string, 
	imgUrl:string, 
	imgAlt:string, 
	color: Color, 
	tag: TagProps[], 
	svgUrl:string,
	description:string,
	subDescription:string,
}

const typedData: CardProps[] = DATA as CardProps[]

---
<script>
	import JSConfetti from 'js-confetti'

	const finalButton = document.querySelector('#final')
	const finalBeforeButton = document.querySelector('#final')
	
	const clickButton = document.querySelector('#click')
	let pressStartTime = 0
	const minPressTime = 2000

	const startAnimation = () => {
		clickButton!.textContent = "Press Me !"
		finalBeforeButton?.classList.toggle('before:animate-nextLevel')
		return pressStartTime = Date.now()
	}

	const endAnimation = () => {
		const pressEndTime = Date.now()
		const pressDuration = pressEndTime - pressStartTime
		if(pressDuration >= minPressTime){
			const finalTitle = document.querySelector('#finalTitle')
			finalTitle!.textContent = "Let Me enter to the finals"
			const canvas = document.querySelector('#confetti')
			const jsConfetti = new JSConfetti()
			jsConfetti.addConfetti({
				confettiColors:[
					'#F588B9', '#A2B87E', '#6B93C0'
				]
			})
			setTimeout(()=>{
				finalTitle!.textContent = "Click Me ? Might enter the finals"
			},3000)
		} else {
			clickButton!.textContent = "Click Me ?"
		}
		finalBeforeButton?.classList.toggle
	}

	finalButton?.addEventListener('mousedown', startAnimation)

	finalButton?.addEventListener('mouseup',endAnimation)

	finalButton?.addEventListener('touchstart', startAnimation)

	finalButton?.addEventListener('touchend',endAnimation)

</script>	

<BasicsLayout title="La Piscine" description=" !">
	<ScrollProgress client:load/>
	<Header/>
	<section class="w-full flex flex-col items-center justify-center xl:my-32 mt-32 mb-4">
		<div class="max-w-[1440px] flex-col flex justify-between items-center md:flex-row lg:items-between  w-full gap-12 md:gap-0">
			<div class="w-full lg:justify-center justify-start flex ">
				<h2 class="sm:text-left md:text-left lg:text-center text-[4.4rem] xl:text-[7rem] md:text-[5.5rem] lg:text-[5.6rem] text-left px-3 leading-none font-semibold sm:max-w-sm md:max-w-md lg:max-w-3xl xl:max-w-4xl max-w-[350px] text-wrap relative">Que le plus fort, <span class="italic">l'emporte!</span>
					<img src="/svg/secondary_badge.svg" alt="Badge code et éclair" class="absolute sm:right-8 sm:-top-1 md:right-12 md:top-2 lg:top-24 lg:left-10 xl:top-32 xl:left-8 -top-1 right-4"/>
				</h2>
			</div>
			<div class="flex justify-center pr-0 xl:pr-12 md:pr-6">
				<div class="relative lg:mr-10 xl:m-0 ">
					<img src="/svg/card.svg" alt="Image d'une carte" />
					<div class="absolute right-0 bottom-2 lg:-bottom-2 lg:-right-7">
						<CursorTag tag="@LLCoolChris" href="https://x.com/LLCoolChris_" color="blue"/>
					</div>
					<div class="absolute -right-3 top-48 lg:top-36 lg:-right-9">
						<CursorTag tag="@maislina_" href="https://x.com/maislina_" color="orange"/>
					</div>
					<div class="absolute bottom-10 -left-6 lg:bottom-4 lg:-left-16 ">
						<CursorTag tag="@sometimecrea" href="https://x.com/sometimecrea" color="pink" direction="right"/>
					</div>
					<img src="/svg/main_badge.svg" alt="Badge avec logo clash of dev" class="absolute right-0 top-2"/>
				</div>
			</div>
		</div>
			<div class="w-full max-w-[1440px] overflow-hidden flex ">
				<h2 class="text-left font-bold text-[225px] text-nowrap whitespace-nospace animate-scrollHorizontal">&lt;A&gt;Front les Tous !  
					<span class="px-20 relative"> 
						<img src="/svg/snippet_badge.svg" alt="Icone d'une balise" class="absolute -left-8 top-24  right-80"/>
						Clash of Dev
						<img src="/svg/smiley_badge.svg" alt="Icone d'une balise" class="absolute top-24 -right-8"/>
					</span> 
				</h2>
			</div>
	</section>
	<section class="w-full flex justify-center ">
		<div class="max-w-[1440px] px-3 flex w-full flex-col">
			{typedData.map(({title, imgUrl, imgAlt, color, tag, svgUrl, description, subDescription} )=> {
				return <CardLayout color={color} title={title} imgUrl={imgUrl} imgAlt={imgAlt}>
				{tag.map(({name,href}: TagProps)=> <CursorTag slot="tag" href={href} tag={name} color={color} /> )}
				<p slot="description" set:html={description}></p>
				<p slot="description" set:html={subDescription}></p>
				<img src={svgUrl} alt={`Icone du ${title}`} slot="svg" class="absolute -bottom-10 -right-8 w-40 lg:w-80 lg:-right-20 lg:-bottom-24 xl:w-96 -z-10 md:w-60 md:-right-14 md:-bottom-20"/> 
			</CardLayout>
			})}
			<div class=`w-full bg-[#262625] dark:bg-[#F3F3F1] relative overflow-hidden rounded-[60px] sticky top-0 flex items-center flex-col gap-28 lg:gap-56`>
				<img src="/svg/smileyCard.svg" alt="smiley svg" class="absolute top-16 right-16 md:top-[350px] md:right-44"/>
				
				<h2 class="text-[#F3F3F1] dark:text-[#262625] text-[40px] font-semibold max-w-72 text-justify mt-20 pt-20 sm:max-w-96 sm:text-5xl md:max-w-full md:text-center md:text-[5rem] md:px-9 md:[word-spacing:20px] lg:text-[6rem] xl:text-[7rem] lg:px-20 lg:pt-40" id="finalTitle"><span id="click">Click Me ?</span>  Might enter the finals </h2>
				<div class="flex justify-center pb-20 relative">
					<button type="submit" class="dark:text-[#F3F3F1] text-[#262625] bg-[#F3F3F1] dark:bg-[#262625] text-sm font-semibold px-8 py-4 rounded-full relative overflow-hidden z-[1] before:absolute before:inset-0 before:rounded-full before:-z-[1] before:opacity-0" id="final">Enter Next Level</button>
					<img src="/svg/flash.svg" alt="badge flash" class="absolute top-9 right-0 w-14 z-[3]"/>
					<img src="/svg/stars.svg" alt="badge stars" class="absolute -top-5 -left-4 w-10 "/>
					<img src="/svg/snippet.svg" alt="badge snippet" class="absolute -top-11 w-20 -right-8 -z-10 rotate-45"/>
				</div>
			</div>
		</div>
		
	</section>
	<canvas id="confetti" class="hidden"></canvas>
	<Footer/>
</BasicsLayout>
