---
import Header from "../components/Header.astro"
import BasicsLayout from "../layouts/BasicsLayout.astro"
import ScrollProgress from "../components/ScrollProgress"
import FormatDescription from "../components/FormatDescription"
import CardLayout from "../layouts/CardLayout.astro"
import CursorTag from "../components/CursorTag"
import DATA from '../../data.json'
import type { Color } from "../utils/colorUtils"

interface TagProps {
	name:string,
	href:string	
}

interface CardProps {
	title:string, 
	imgUrl:string, 
	imgAlt:string, 
	color: Color, 
	tag: TagProps[], 
	svgUrl:string,
	description:string,
	subDescription:string,
}

const typedData: CardProps[] = DATA as CardProps[]

---


<style is:global>
	.description_card p {
		max-width: 240px;
		@media screen and (max-width:1024px) {
			max-width: 100%;
		}
	}
</style>

<BasicsLayout title="La Piscine" >
	<ScrollProgress client:load/>
	<Header/>
	<section class="w-full flex flex-col items-center justify-center my-32">
		<div class="max-w-[1440px] flex-col flex justify-between items-center lg:flex-row lg:items-between gap-12 w-full">
			<div class="w-full justify-center lg:justify-start flex ">
				<h2 class="sm:text-left md:text-left lg:text-center text-[4.4rem] xl:text-[7rem] md:text-[5.5rem] lg:text-[5.6rem] text-left px-3 leading-none font-semibold sm:max-w-sm md:max-w-md lg:max-w-3xl xl:max-w-4xl max-w-sm text-wrap relative">Que le plus fort, <span class="italic">l'emporte!</span>
					<img src="/svg/secondary_badge.svg" alt="Badge code et éclair" class="absolute sm:right-8 sm:-top-1 md:right-12 md:top-2 lg:top-24 lg:left-10 xl:top-32 xl:left-8 -top-1 right-8"/>
				</h2>
			</div>
			<div class="flex justify-center pr-0 xl:pr-12 md:pr-3">
				<div class="relative lg:mr-10 xl:m-0 ">
					<img src="/svg/card.svg" alt="Image d'une carte" />
					<div class="absolute right-0 bottom-2 lg:-bottom-2 lg:-right-7">
						<CursorTag tag="@LLCoolChris" href="https://x.com/LLCoolChris_" color="blue"/>
					</div>
					<div class="absolute -right-3 top-48 lg:top-36 lg:-right-9">
						<CursorTag tag="@maislina_" href="https://x.com/maislina_" color="orange"/>
					</div>
					<div class="absolute bottom-10 -left-6 lg:bottom-4 lg:-left-16 ">
						<CursorTag tag="@sometimecrea" href="https://x.com/sometimecrea" color="pink" direction="right"/>
					</div>
					<img src="/svg/main_badge.svg" alt="Badge avec logo clash of dev" class="absolute right-2 top-4"/>
				</div>
			</div>
		</div>
		<div class="w-full max-w-[1440px]">
			<h2 class="text-left font-bold text-[225px] text-nowrap overflow-hidden">&lt;A&gt;Front les Tous ! Clash of dev</h2>
		</div>
	</section>
	<section class="w-full flex justify-center ">
		<div class="max-w-[1440px] px-3 flex w-full flex-col">
			{typedData.map(({title, imgUrl, imgAlt, color, tag, svgUrl, description, subDescription} )=> {
				return <CardLayout color={color} title={title} imgUrl={imgUrl} imgAlt={imgAlt}>
				{tag.map(({name,href}: TagProps)=> <CursorTag slot="tag" href={href} tag={name} color={color}/> )}
				<p slot="description" set:html={description}></p>
				<p slot="description" set:html={subDescription}></p>
				<img src={svgUrl} alt={`Icone du ${title}`} slot="svg" class="absolute -bottom-10 -right-8 w-40"/> 
			</CardLayout>
			})}
		</div>
	</section>
</BasicsLayout>
