---
const {title} = Astro.props
const {description} = Astro.props
const {imgUrl} = Astro.props
const {imgAlt} = Astro.props
const {svgUrl} = Astro.props
const {svgAlt} = Astro.props
const {color} = Astro.props

---

<div>
    <h3>{title}</h3>
    <img src={imgUrl} alt={imgAlt}/>
    <p>{description}</p>
    <slot/>
</div>